/*************** Definizioni Generali ********************/
html {padding:0px;
	margin:0px;}
body {
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 0.88em;
}
a {
	text-decoration: none;
	padding:0px;
	margin:0px;
}
a:hover {
	text-decoration: underline;
	padding:0px;
	margin:0px;
}
img {
	border: 0px;
	margin:0px;
	padding:0px;
}
a img {
	border: 0px;
	margin:0px;
	padding:0px;
}
/*************** Fine Definizioni Generali ********************/


/*************** Intestazione Pagine ********************/
#header {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; width: 100%; padding-top: 0px
}

#Contieneheader {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; width: 100%; padding-top: 0px
}
/*************** Fine Intestazione Pagine ********************/


/******* Inizio Menu Orizzontale Blu ******/
#menuHor {
	padding-right: 0px; padding-left: 0px; FONT-WEIGHT: bold; font-size: 80%; FLOAT: right; padding-bottom: 1px; margin: 0px; width: 100%; color: #ffffff; padding-top: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; /*POSITION: absolute; top: 94px; */background-color: #0066aa; TEXT-ALIGN: right
}
#menuHor UL {
	DISPLAY: inline; padding-left: 0px; margin-left: 0px
}
#menuHor UL LI {
	border-right: #ffffff 0px solid; padding-right: 15px; border-top: #ffffff 0px solid; DISPLAY: inline; padding-left: 15px; padding-bottom: 0px; margin-left: 0px; border-left: #ffffff 1px solid; padding-top: 0px; border-bottom: #ffffff 0px solid; list-style-type: none
}
#menuHor UL LI A {
	color: #ffffff; text-decoration: none
}
#menuHor UL LI A:hover {
	text-decoration: underline;	background-color: #003399
}
#menuHor UL LI A:active {
	background-color: #003399
}
/******* Fine Menu Orizzontale Blu ******/


/*************** Inizio Molliche Pollicino ********************/
#path {
	padding-right: 0px; padding-left: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.65em; padding-bottom: 5px; color: #003597; padding-top: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; top: 1.5em; background-color: #ffffff; TEXT-ALIGN: left
}
#path UL {
	DISPLAY: inline; padding-left: 0px; margin-left: 0px
}
#path UL LI {
	padding-right: 2px; DISPLAY: inline; padding-left: 2px; padding-bottom: 0px; margin-left: 0px; padding-top: 0px; list-style-type: none
}
#path UL LI A {
	color: #003597; text-decoration: none
}
#path UL LI A:hover {
	text-decoration: underline; color: #ffffff; background-color: #003399
}
#path UL LI A:active {
	color: #ffffff; background-color: #003399
}
/*************** Fine Molliche Pollicino ********************/


/******* Blocco Link a Destra ******/
#contieneLinkinterniDx {
	padding-right: 0px; padding-left: 0px; left: 0px; padding-bottom: 0px; margin: 0px; VERTICAL-ALIGN: top; width: auto; padding-top: 0px; POSITION: relative
}
#linkinterniDx {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; right: 1px; VERTICAL-ALIGN: top; width: 22%; LINE-HEIGHT: 1.6em; margin-right: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; POSITION: absolute; top: 2.5em
}
#linkinterniDx UL {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 5px; border-bottom: #ffffff 5px solid; list-style-type: none; background-color: #f1f2ed
}
#linkinterniDx LI {
	padding-right: 0px; padding-left: 0px; padding-bottom: 5px; margin: 0px; padding-top: 0px
}
#linkinterniDx LI A {
	color: #666666; text-decoration: none
}
#linkinterniDx LI A:hover {
	color: #666666; text-decoration: underline
}
#linkinterniDx LI A:active {
	color: #ffffff; background-color: #2c5dbf
}
#linkinterniDx UL.cliccato {
	border-right: #cccccc 1px solid; padding-right: 5px; border-top: #cccccc 1px solid; padding-left: 0px; margin-bottom: 5px; padding-bottom: 0px; color: #444444; padding-top: 5px; border-bottom: #cccccc 1px solid; list-style-type: none; background-color: #ffffff
}
#linkinterniDx LI.cliccato A {
	color: #444444; text-decoration: underline
}
#linkinterniDx LI.cliccato A:hover {
	color: #666666; text-decoration: underline
}
#linkinterniDx LI.cliccato A:active {
	color: #ffffff; background-color: #2c5dbf
}

#linkinterniDx ul li.sel{
	background-color: #0066AA;
}

#linkinterniDx ul li.sel A{
	color: #ffffff;
}

/******* Fine Blocco Link a Destra ******/


/*********** Area del Testo Principale ***********/
#corpo {
	width: 90%; POSITION: relative; top: 1.1em; margin-left:20px;
}
.spazioPiccolo {
	DISPLAY: block; FONT-SIZE: 0.2em; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
#contenuto {
	border: #cccccc 1px solid; padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin-left: 5px; VERTICAL-ALIGN: top; margin-right: 20%; padding-top: 0px; margin-top: 20px; min-height: 1300px; height: auto !important; height: 1300px;
}
#contenuto IMG.pallainterna {
	FLOAT: left; margin: 0px; width: auto; border-top-STYLE: none; border-right-STYLE: none; border-left-STYLE: none; POSITION: relative; top: -1.35em; border-bottom-STYLE: none
}
#contenuto H3 {
	padding-right: 0px; padding-left: 50px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; padding-bottom: 0px; margin: 0px 20px 0px 5px; color: #333333; padding-top: 0px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; background-color: #f1f2ed
}

/********* Elenco Risultato Ricerca ****************/

#contenuto UL {
	padding-right: 0px; padding-left: 0px; FONT-SIZE: 0.75em; list-style-IMAGE: url(../img/quadrato_lista.gif); padding-bottom: 0px; margin: 0px 50px 0px 90px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 1.4em; padding-top: 0px; list-style-type: none
}

#contenuto LI {
	padding-left: 0px; padding-bottom: 10px; margin: 0px; color: #333333; padding-top: 0px
}

#contenuto LI A {
	color: #3c3b15;  text-decoration: underline; /*background-color: #fdfae2; */
}
#contenuto LI A:hover {
	color: #333333; /*background-color: #f1f2ed;*/ text-decoration: underline
}
/*
#contenuto IMG {
	border-right: #6f6e40 1px solid; border-top: #6f6e40 1px solid; FLOAT: left; margin: 0px 5px 5px 0px; border-left: #6f6e40 1px solid; border-bottom: #6f6e40 1px solid
}
*/

/********* Fine Elenco Risultato Ricerca ****************/
/*********** Fine Area del Testo Principale ***********/


/*********** Inizio Menu a Sinistra ***********/
.tdMenuSx {
	margin-top: 0px; VERTICAL-ALIGN: top; width: 15%
}
H3.titoloMenuPrimo {
	padding-right: 2px; padding-left: 5px; FONT-WEIGHT: bold; FONT-SIZE: 1.05em; padding-bottom: 2px; margin: 0px; border-left: #0066aa 15px solid; color: #e28409; padding-top: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; background-color: #ffffff
}
.capoletteraMenuSxPrimo {
	color: #e28409
}
#menuSxPrimo {
	padding-right: 0px; padding-left: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; padding-bottom: 0px; margin: 0px; VERTICAL-ALIGN: top; padding-top: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; background-color: #0066aa
}
#menuSxPrimo UL {
	padding-right: 0px; padding-left: 7px; list-style-IMAGE: url(../img/ico_folder_blu.gif); padding-bottom: 0px; margin: 0px; border-left: #ffffff 15px solid; color: #ffffff; padding-top: 0px; list-style-type: disc
}
#menuSxPrimo LI {
	padding-right: 0px;  margin: 0px; padding-top: 4px; border-bottom: #ffffff 1px dashed; padding-bottom: 0px; padding-top: 0px
}
#menuSxPrimo LI A {
	color: #ffffff; background-color: #0066aa; text-decoration: none
}
#menuSxPrimo LI A {
	DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxPrimo LI A:hover {
	text-decoration: underline; DISPLAY: block; color: #ffffff; background-color: #2586d7
}
#menuSxPrimo LI A:active {
	DISPLAY: block; color: #ffffff; background-color: #2586d7
}
#menuSxPrimo LI.cliccato {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; color: #ffff33; padding-top: 0px; background-color: #2586d7; text-decoration: underline
}
#menuSxPrimo LI.cliccato A {
	color: #ffff33; background-color: #2586d7; text-decoration: underline; DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxPrimo LI.cliccato A:hover {
	text-decoration: underline; DISPLAY: block; color: #ffffff; background-color: #2586d7
}
#menuSxPrimo LI.cliccato A:active {
	DISPLAY: block; color: #ffffff; background-color: #2586d7
}
H3.titoloMenuSecondo {
	padding-right: 2px; padding-left: 5px; FONT-WEIGHT: bold; FONT-SIZE: 1.05em; padding-bottom: 2px; margin: 0px; border-left: #3385bb 15px solid; color: #e28409; padding-top: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; background-color: #ffffff
}
.capoletteraMenuSxSecondo {
	color: #e28409
}
#menuSxSecondo {
	padding-right: 0px; padding-left: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; padding-bottom: 0px; margin: 0px; VERTICAL-ALIGN: middle; padding-top: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; background-color: #3385bb
}
#menuSxSecondo UL {
	padding-right: 0px; padding-left: 7px; list-style-IMAGE: url(../img/ico_folder_azzurro.gif); padding-bottom: 0px; margin: 0px; border-left: #ffffff 15px solid; color: #ffffff; padding-top: 0px; list-style-type: disc
}
#menuSxSecondo LI {
	padding-right: 0px; padding-bottom: 4px; margin: 0px; padding-top: 0px; border-bottom: #ffffff 1px dashed
}
#menuSxSecondo LI A {
	color: #ffffff; background-color: #3385bb; text-decoration: none; DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxSecondo LI A:hover {
	text-decoration: underline;	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondo LI A:active {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondo LI.cliccato {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; color: #ffff33; padding-top: 0px; background-color: #678cd5; text-decoration: underline
}
#menuSxSecondo LI.cliccato A {
	color: #ffff33; background-color: #678cd5; text-decoration: underline;	DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxSecondo LI.cliccato A:hover {
	text-decoration: underline
}
#menuSxSecondo LI.cliccato A:active {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoTer {
	padding-right: 0px; padding-left: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; padding-bottom: 0px; margin: 0px; VERTICAL-ALIGN: middle; padding-top: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; background-color: #3385bb
}
#menuSxSecondoTer UL {
	padding-right: 0px; padding-left: 7px; list-style-IMAGE: url(../img/ico_folder_azzurro.gif); padding-bottom: 0px; margin: 0px; border-left: #ffffff 15px solid; color: #ffffff; padding-top: 0px; list-style-type: disc
}
#menuSxSecondoTer LI {
	padding-right: 0px; padding-bottom: 4px; margin: 0px; padding-top: 0px; border-bottom: #ffffff 1px dashed
}
#menuSxSecondoTer LI A {
	color: #ffffff; background-color: #3385bb; text-decoration: none; DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxSecondoTer LI A:hover {
	text-decoration: underline; DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoTer LI A:active {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoTer LI.cliccato {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; color: #ffff33; padding-top: 0px; background-color: #678cd5; text-decoration: underline
}
#menuSxSecondoTer LI.cliccato A {
	color: #ffff33; background-color: #678cd5; text-decoration: underline; DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxSecondoTer LI.cliccato A:hover {
	text-decoration: underline
}
#menuSxSecondo LI.cliccato A:hover {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoBis LI.cliccato A:hover {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoTer LI.cliccato A:hover {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoTer LI.cliccato A:active {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
.spazio1em {
	DISPLAY: block; FONT-SIZE: 1em; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; background-color: #ffffff
}
#menuSxSecondoBis {
	padding-right: 0px; padding-left: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; padding-bottom: 0px; margin: 0px; VERTICAL-ALIGN: middle; padding-top: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; background-color: #3385bb
}
#menuSxSecondoBis UL {
	padding-right: 0px; padding-left: 7px; list-style-IMAGE: url(../img/ico_folder_azzurro.gif); padding-bottom: 0px; margin: 0px; border-left: #ffffff 15px solid; color: #ffffff; padding-top: 0px; list-style-type: disc
}
#menuSxSecondoBis LI {
	padding-right: 0px; padding-bottom: 4px; margin: 0px; padding-top: 0px; border-bottom: #ffffff 1px dashed
}

#menuSxSecondoBis LI A {
	color: #ffffff; background-color: #3385bb; text-decoration: none;
	DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxSecondoBis LI A:hover {
	text-decoration: underline;
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoBis LI A:active {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
#menuSxSecondoBis LI.cliccato {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; color: #ffff33; padding-top: 0px; background-color: #678cd5; text-decoration: underline
}
#menuSxSecondoBis LI.cliccato A {
	color: #ffff33; background-color: #678cd5; text-decoration: underline; DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxSecondoBis LI.cliccato A:hover {
	text-decoration: underline
}
#menuSxSecondoBis LI.cliccato A:active {
	DISPLAY: block; color: #ffffff; background-color: #678cd5
}
H3.titoloMenuTerzo {
	padding-right: 2px; padding-left: 5px; FONT-WEIGHT: bold; FONT-SIZE: 1.05em; padding-bottom: 2px; margin: 0px; border-left: #63a2cb 15px solid; color: #e28409; padding-top: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; background-color: #ffffff
}
#menuSxTerzo {
	padding-right: 0px; padding-left: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; padding-bottom: 0px; margin: 0px; VERTICAL-ALIGN: middle; padding-top: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; background-color: #63a2cb
}
#menuSxTerzo UL {
	padding-right: 0px; padding-left: 7px; list-style-IMAGE: url(../img/ico_folder_azzurrochiaro.gif); padding-bottom: 0px; margin: 0px; border-left: #ffffff 15px solid; color: #ffffff; padding-top: 0px; list-style-type: disc
}
#menuSxTerzo LI {
	padding-right: 0px; padding-bottom: 4px; margin: 0px; padding-top: 4px; border-bottom: #ffffff 1px dashed
}
#menuSxTerzo LI {
	padding-bottom: 0px; padding-top: 0px
}
#menuSxTerzo LI A {
	color: #ffffff; background-color: #63a2cb; text-decoration: none;DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxTerzo LI A:hover {
	text-decoration: underline;	DISPLAY: block; color: #ffffff; background-color: #1b678e
}
#menuSxTerzo LI A:active {
	DISPLAY: block; color: #ffffff; background-color: #1b678e
}
#menuSxTerzo LI.cliccato {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; color: #ffff33; padding-top: 0px; background-color: #1b678e; text-decoration: underline
}
#menuSxTerzo LI.cliccato A {
	color: #ffff33; background-color: #1b678e; text-decoration: underline; DISPLAY: block; padding-bottom: 4px; padding-top: 4px
}
#menuSxTerzo LI.cliccato A:hover {
	text-decoration: underline; DISPLAY: block; color: #ffffff; background-color: #1b678e
}
#menuSxTerzo LI.cliccato A:active {
	DISPLAY: block; color: #ffffff; background-color: #1b678e
}
.capoletteraMenuSxTerzo {
	color: #e28409
}
/*********** Fine Menu a Sinistra ***********/

/*********** Inizio Piè Pagina ***********/

HR {
	DISPLAY: none
}
DIV.hr {
	padding-right: 0px; margin-top: 0px; DISPLAY: block; padding-left: 0px; background-IMAGE: url(../img/spacer_bianco.gif); margin-bottom: 0px; padding-bottom: 0px; padding-top: 0px; HEIGHT: 1px
}
DIV.hrpiepagina {
	padding-right: 0px; DISPLAY: block; padding-left: 0px; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; padding-bottom: 2px; margin-top: 50px; color: #ffffff; padding-top: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 13px; background-color: #0066aa; TEXT-ALIGN: center;clear:both;
}
DIV.hrpiepagina A {
	color: #ffffff
}
DIV.hrpiepagina A:hover {
	color: #ffff00; text-decoration: underline
}
/*********** Fine Piè Pagina ***********/

/************************* Fine CSS Cnipa ************************************/



/***************************** Inizio CSS cmsNIR *****************************/



/***************** Inizio Menu Orizzontale cmsNIR **************************/
#nav  {
	width:100%;
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; 
	
}
#nav ul {
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;	
	margin-left: 300px;
}
#nav li {
	display: inline;
}
#nav li  a{
	padding-left: 3.6em;
	padding-right: 2.6em;
	text-decoration: none;
	color: #ffffff;
	background-color: #0066aa;
}

#nav li  a:hover{
	color:#ffffff;
	background-color: #E28409;
	
}
#nav  li.sel a{
	color:#ffffff;
	background-color: #E28409;
	
}
#nav ul li.sel a:hover{
	color:#ffffff;
	background-color: #E28409;
}
/***************** fine Menu Orizzontale cmsNIR **************************/

#elencoArticoli{
	width: 95%;
	text-align: justify;
}

#elencoArticoli a:link {

    color:  #0066aa;
	text-decoration: none;
	background-color: White;
}

#elencoArticoli a:visited {
    color: #0000AA;
	text-decoration: none;
}

/*
#formRicerca{
	padding-left: 50px;
	margin-left:200px;
}
*/
#formRicerca{
	width: 100%;
	padding-left: 50px;
	font-size:8pt;
	
}

#formRicerca th, #formRicerca td{
	font-size:8pt;
}

.risultatiRicerca{
	width: 95%;
	text-align: justify;
	
}

.trovati{
font-size:10pt;
text-align: left;
FONT-WEIGHT: bold; 
}

.nuovaRicerca {
font-size:10pt;
text-align: right; color:  #0066aa;
FONT-WEIGHT: bold; 
}

.nuovaRicerca a:link {
    color:  #0066aa;
text-decoration: none;
	
}

.nuovaRicerca a:hover {
	text-decoration: none;
	color: #000000;
}


#elencoRicerca a:link {
    color:  #0066aa;
	text-decoration: none;
	
}

#elencoRicerca a:visited {
    color: #0000AA;
	text-decoration: none;

}

#azzera {
 font-size:12pt;
 width: 70px;
 height:30px;
}

#trova {
 font-size:12pt;
 width: 70px;
 height:30px;
 
}


/*  ------------------------------------------ AGGGIUNTE -----------------------------   */
#browse {
	float:right;
}

#modalContainer {
	display:none;
}

#modal{
	background-color:#ffffff;
	text-align:center;
	position:fixed;
	top:10%;
	left:10%;
	height:80%;
	width:80%;
	overflow:scroll;
	z-index:1000;
}

#modalBar{
	background-color:blue;
	text-align: right;
	position:fixed;
	top:10%;
	left:10%;
	height:20px;
	width:80%;
}

#modalBar a{
	color: white;
	margin-right: 10px;
}

#modal table{
	margin-top:30px;
	margin-left:10px;
	width: 90%;
	border: solid 1px;
}

#modal table tr td{
	text-align:center;
	border: solid 1px;
}

#background{
	display:none;
	background-color: #f1f2ed;
	/*opacity:0.5;
	filter:alpha(opacity=50);*/
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	overflow:hidden;
	z-index:999;
}

#browsePanel {
	margin-top:30px;
}


#estremiEmanante, #riferimentoEmanante {
	display:none;
}
#page_head_navi {
			display: block;
			padding: 0;
			margin: 0;
			text-align:left;
			background-color:#fff;
			/*width:100%;*/
			}
#page_head_navi a	{
			padding: 0px;
			margin: 0px;
			}
#page_head_navi a li {
			border:0px;
			padding: 0;
			margin: 0px;
			}
#page_head_navi a img	{
			border:0px;
			padding:0;
			margin:0px;
			}
#bannerimm1		{
			border:0px;
			padding: 0;
			margin: 0px;
			width:100%;
			height:76px;
			background: url('../img/banner.jpg')top left no-repeat;
			}
#bannerimm3		{
			width:200px;
			float:right;
			}
.loghi td		{
			border:0px;
			}
#w3 {
		padding-left:10px;
		width:100%;
		clear:both;
		}
.atto_abrogato				{
					color:#f00;
					font-weight:bold;					
					}

